@media (max-width: 1680px) {
  /* Shared layouts */
  .about-section img,
  .content-container img {
    width: 500px;
  }

  .text-content p,
  .text-container,
  .get-involved-content p,
  .info-item p {
    font-size: var(--font-size-xxxs);
  }

  /* Hero section */
  .text-content h1 {
    font-size: var(--font-size-xl);
  }

  .text-content {
    width: 300px;
  }

  .text-container {
    width: 350px;
  }

  /* Get involved section */
  .get-involved-content h2 {
    font-size: var(--font-size-xl);
  }

  .get-involved-content h3 {
    font-size: var(--font-size-xs);
  }

  .get-involved-content img {
    height: 600px;
  }

  /* Info section */
  .info-item {
    width: 500px;
  }

  .info-item h3 {
    font-size: var(--font-size-base);
  }
}

@media (max-width: 1300px) {
  /* Shared layouts */
  .about-section,
  .content-container,
  .get-involved-content,
  .info-section {
    max-width: 1000px;
    width: var(--smaller-screen-width);
  }

  .about-section {
    padding: 100px 0 50px 0;
  }

  .content-container,
  .info-section {
    padding: 50px 0;
  }

  .info-section {
    height: 600px;
  }
}

@media (max-width: 1000px) {
  .about-section,
  .content-container,
  .get-involved-content,
  .info-section {
    padding: 50px 0;
  }

  /* Hero section */
  .about-section img {
    width: 400px;
  }

  .text-content h1 {
    font-size: var(--font-size-lg);
  }

  .content-container img {
    height: 300px;
    width: 350px;
    object-fit: cover;
  }

  .text-container {
    margin-left: 50px;
  }

  /* Get involved section */
  .get-involved-content img {
    height: 500px;
  }
}

@media (max-width: 830px) {
  /* Menu */
  .fa-bars,
  .icon-mobile-section > * {
    color: var(--secondary-color);
  }

  /* Shared layouts */
  .about-section,
  .content-container,
  .get-involved-content,
  .info-section {
    flex-direction: column;
    width: var(--mobile-screen-width);
    gap: 30px;
  }

  .text-content,
  .about-section img,
  .content-container img,
  .text-container,
  .info-item {
    width: var(--scalable-width);
    height: auto;
    margin: 0;
  }

  /* Hero section */
  .about-section h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .content-container {
    flex-direction: column-reverse;
    padding: 0 0 50px 0;
  }

  .text-container {
    text-align: left;
  }

  /* Get involved section */
  .get-involved-content h2 {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: 30px;
  }

  .get-involved-content img {
    height: auto;
  }

  /* Info section */
  .info-section {
    height: var(--scalable-height);
  }
}
