@media (max-width: 1750px) {
  /* Hero section */
  .hero-section h1 {
    font-size: var(--font-size-xl);
    max-width: 400px;
  }

  .hero-section img {
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 1680px) {
  /* Exhibition cards section */
  .exhibition-content {
    gap: 20px;
    padding: 50px 0 50px 0;
  }

  .exhibition-content div {
    gap: 50px;
  }

  .margin {
    margin-bottom: 50px;
  }

  .exhibition-card {
    padding: 20px;
  }

  .exhibition-card h2 {
    font-size: var(--font-size-xs);
  }

  .exhibition-card img {
    height: 150px;
    width: 200px;
  }
}

@media (max-width: 1450px) {
  /* Hero section */
  .hero-section img {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 1300px) {
  /* Hero section */
  .hero-section {
    max-width: 1000px;
    width: var(--smaller-screen-width);
  }
}

@media (max-width: 950px) {
  /* Hero section */
  .hero-section {
    justify-content: center;
    padding: 50px 0;
  }

  .hero-section img {
    display: none;
  }

  .hero-section h1 {
    text-align: center;
  }
}

@media (max-width: 870px) {
  /* Hero section */
  .hero-section h1 {
    font-size: var(--font-size-lg);
  }

  /* Exhibition cards section */
  .exhibition-content {
    max-width: 500px;
    width: var(--mobile-screen-width);
    margin: var(--centering);
    padding: 0 0 50px 0;
  }

  .exhibition-content > * {
    flex-direction: column;
  }

  .exhibition-card {
    padding: 30px;
  }

  .exhibition-card h2 {
    font-size: var(--font-size-xs);
  }

  .exhibition-card img {
    height: 250px;
    width: var(--scalable-width);
  }
}
