@media (max-width: 1670px) {
    .explore-for-teachers img,
    .explore-for-researchers img {
        width: 500px;
    }
}

@media (max-width: 1400px) {
    .explore-image-container img {
        height: 650px;
        width: 450px;
    }

    .explore-content {
        width: 350px;
    }
}

@media (max-width: 1300px) {
    .explore-for-kids,
    .explore-for-teachers,
    .explore-for-researchers {
        max-width: 1000px;
        width: calc(100% - 100px);
    }
}

@media (max-width: 1000px) {
    .explore-content h1 {
        font-size: 68px;
    }
    
    .explore-content h2 {
        font-size: 30px;
    }
    
    /* Explore for kids */
    .explore-image-container img {
        height: 500px;
        width: 350px;
    }
    
    /* Explore for teachers, Explore for Researchers */
    .explore-for-teachers img,
    .explore-for-researchers img {
        width: 350px;
        border-radius: 30px;
    }
}

@media (max-width: 850px) {
    /* shared layout */
    .explore-for-kids,
    .explore-for-teachers,
    .explore-for-researchers {
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
        width: calc(100% - 60px);
        max-width: 500px;
    }

    /* explore, for kids section */
    .explore-content h1 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 30px;
    }

    .explore-content h2 {
        font-size: 24px;
    }

    .explore-image-container img {
        height: auto;
        width: 100%;
    }
    
    /* Explore for teachers, Explore for Researchers */
    .explore-for-teachers {
        flex-direction: column-reverse;
    }

    .explore-content {
        width: 100%;
    }

    .explore-for-teachers img,
    .explore-for-researchers img {
        width: 100%;
    }
}

@media (max-width: 830px) {
    .menu {
        background-color: var(--primary-color);
    }
}