@media (max-width: 1670px) {
  /* Shared layouts */
  .explore-for-teachers img,
  .explore-for-researchers img {
    width: 500px;
  }

  /* Explore for kids */
  .explore-for-kids {
    padding: 100px 0 50px 0;
  }

  /* Explore for teachers, Explore for Researchers */
  .explore-for-teachers,
  .explore-for-researchers {
    padding: 50px 0;
  }
}

@media (max-width: 1400px) {
  /* Hero section */
  .explore-image-container img {
    height: 650px;
    width: 450px;
  }

  /* Explore text */
  .explore-content {
    width: 350px;
  }
}

@media (max-width: 1300px) {
  /* Shared layouts */
  .explore-for-kids,
  .explore-for-teachers,
  .explore-for-researchers {
    max-width: 1000px;
    width: var(--smaller-screen-width);
  }
}

@media (max-width: 1000px) {
  /* Shared layouts */
  .explore-for-kids,
  .explore-for-teachers,
  .explore-for-researchers {
    padding: 50px 0;
  }

  /* Explore for kids */
  .explore-image-container img {
    height: 500px;
    width: 350px;
  }

  /* Explore for teachers, Explore for Researchers */
  .explore-for-teachers img,
  .explore-for-researchers img {
    width: 350px;
    border-radius: var(--border-radius-medium);
  }

  /* Explore text */
  .explore-content h1 {
    font-size: var(--font-size-xl);
  }

  .explore-content h2 {
    font-size: var(--font-size-ms);
  }
}

@media (max-width: 850px) {
  /* Shared layout */
  .explore-for-kids,
  .explore-for-teachers,
  .explore-for-researchers {
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
    width: var(--mobile-screen-width);
    max-width: 500px;
  }

  /* Explore for kids section */
  .explore-image-container img {
    height: auto;
    width: var(--scalable-width);
  }

  /* Explore for teachers, Explore for Researchers */
  .explore-for-teachers {
    flex-direction: column-reverse;
  }

  .explore-for-teachers img,
  .explore-for-researchers img {
    width: var(--scalable-width);
  }

  /* Explore text */
  .explore-content h1 {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: 30px;
  }

  .explore-content h2 {
    font-size: var(--font-size-xs);
  }

  .explore-content {
    width: var(--scalable-width);
  }
}

@media (max-width: 830px) {
  /* Header */
  .menu {
    background-color: var(--primary-color);
  }

  .icon-mobile-section > * {
    color: var(--primary-light);
  }
}
