body {
  background-color: var(--primary-color);
  color: var(--primary-light);
}

/* Header */
.navigation {
  background-color: var(--primary-color);
}

nav ul a,
.header-icons > * {
  color: var(--primary-light);
}

@media (hover: hover) {
  nav ul a:hover {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.search-input {
  outline: none;
}

/* Shared layouts */
.explore-for-kids,
.explore-for-teachers,
.explore-for-researchers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: var(--large-screen-width); /* ensures 200px padding on both sides */
  margin: var(--centering); /* centers the container */
  padding: 100px 0;
}

/* Explore for kids */
.explore-image-container img {
  height: 650px;
  width: 550px;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
}

/* Explore for teachers, Explore for researchers */
.explore-for-teachers img,
.explore-for-researchers img {
  width: 800px;
  border-radius: var(--border-radius-medium);
}

.explore-for-teachers div {
  text-align: right;
}

/* Explore text */
.explore-content {
  width: 400px;
}

.explore-content h1 {
  font-size: var(--font-size-xxl);
}

.explore-content h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 5px;
}

.explore-content p {
  margin-bottom: 20px;
}
