@media (max-width: 1700px) {
  /* 1st section */
  .special-events-section {
    padding: 100px 0 50px 0;
  }

  .visiting-professor img {
    width: var(--scalable-width);
    height: 600px;
  }

  /* 2nd and 3rd section */
  .event-article {
    padding: 50px 0;
  }

  .event-article img {
    width: 500px;
  }

  .article-content {
    width: 450px;
    margin-left: 50px;
    font-size: var(--font-size-xxxs);
  }
}

@media (max-width: 1300px) {
  /* Shared layout */
  .special-events-section,
  .event-article {
    max-width: 1000px;
    width: var(--smaller-screen-width);
    padding: 50px 0;
  }

  .visiting-professor h3,
  .article-content h3 {
    font-size: var(--font-size-xs);
  }

  /* 1st section */
  .special-events-section h1 {
    font-size: var(--font-size-lg);
  }

  .special-events-section h2 {
    font-size: var(--font-size-xxs);
  }

  /* 2nd and 3rd section */
  .event-article img {
    width: 400px;
  }
}

@media (max-width: 870px) {
  /* Shared layout */
  .special-events-section,
  .event-article {
    flex-direction: column;
    max-width: 500px;
    width: var(--mobile-screen-width);
  }

  /* 1st section */
  .special-events-section h1 {
    font-size: var(--font-size-md);
  }

  .visiting-professor h3 {
    margin: 50px 0 10px 0;
  }

  .visiting-professor p {
    font-size: var(--font-size-xxxs);
  }

  .visiting-professor img,
  .event-article img {
    width: var(--scalable-width);
    height: 300px;
    object-fit: cover;
  }

  /* 2nd and 3rd section */
  .event-article {
    padding: 0 0 50px 0;
  }

  .article-content {
    width: var(--scalable-width);
    margin: 50px 0 0 0;
    text-align: left;
  }
}
