@media (max-width: 1300px) {
  /* Shared layouts */
  .visit-section,
  .contact-form-container {
    max-width: 1000px;
    width: var(--smaller-screen-width);
    gap: 50px;
  }

  /* Visit section */
  .visit-content h2 {
    font-size: var(--font-size-ms);
    margin-bottom: 5px;
  }

  .visit-content p,
  .visit-content address {
    font-size: var(--font-size-xxxs);
  }

  /* Contact form section*/
  .contact-form-container {
    max-width: 650px;
  }
}

@media (max-width: 1000px) {
  /* Visit section */
  .visit-section {
    padding: 50px 0;
  }

  /* Contact form section */
  .contact-form-section {
    padding: 0 0 50px 0;
  }
}

@media (max-width: 760px) {
  /* Shared layout */
  .visit-section,
  .contact-form-container {
    max-width: 500px;
    width: var(--mobile-screen-width);
  }

  /* Visit section */
  .visit-section {
    flex-direction: column;
    gap: 0;
  }

  .visit-content h1 {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: 30px;
  }

  .visit-content {
    width: var(--scalable-width);
  }

  .info {
    text-align: left;
  }

  /* Contact form section */
  .contact-form-section h2 {
    font-size: var(--font-size-md);
  }

  .contact-form-section h3 {
    font-size: var(--font-size-xs);
  }

  .contact-form-container {
    padding: 40px 40px 20px 40px;
  }

  .contact-form-content input,
  .message textarea {
    font-size: var(--font-size-xxxs);
  }

  .message textarea {
    height: 150px;
  }
}
